<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.st.rental.ui.cmd.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="com.st.rental.ui.cmd.RentalSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Rental">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.st.rental.ui.cmd.handlers.CopyCustomerHandlers"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.st.rental.ui.cmd.customerSelected">
               </reference>
               <reference
                     definitionId="com.st.rental.ui.cmd.RentalSelected">
               </reference>
            </or>
         </activeWhen>
         <enabledWhen>
            <or>
               <reference
                     definitionId="com.st.rental.ui.cmd.customerSelected">
               </reference>
               <reference
                     definitionId="com.st.rental.ui.cmd.RentalSelected">
               </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.st.rental.ui.viewRentalAgency?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy Customer"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="com.st.rental.ui.cmd.RentalSelected">
                  </reference>
                  <reference
                        definitionId="com.st.rental.ui.cmd.customerSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
