<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.st.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.st.rental.ui.category"
            class="com.st.rental.ui.views.RentalPropertyView"
            id="com.st.rental.ui.viewRental"
            name="Rental"
            restorable="true">
      </view>
      <view
            category="com.st.rental.ui.category"
            class="com.st.rental.ui.views.ViewRentalAgency"
            id="com.st.rental.ui.viewRentalAgency"
            name="RentalAgency"
            restorable="true">
      </view>
      <view
            category="com.st.rental.ui.category"
            class="com.st.rental.ui.views.ViewRentalCustomer"
            id="com.st.rental.ui.viewCustomerProperty"
            name="Customer Property"
            restorable="true">
      </view>
      <view
            class="com.st.rental.ui.views.ViewRentalCustomer"
            id="com.st.rental.ui.views.ViewRentalCustomer"
            name="Customer Property">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.st.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.st.rental.ui.perspectiveRental"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.st.rental.pref.RentalColorPreference"
            id="com.st.rental.ui.page2"
            name="Rental Color">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.st.rental.ui.commands.helloworldcommand"
            name="Hello World Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.st.rental.ui.handlers.HelloWorldHandler"
            commandId="com.st.rental.ui.commands.helloworldcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Hello World Menu">
            <command
                  commandId="com.st.rental.ui.commands.helloworldcommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.st.rental.ui.toolbar2"
               label="tool">
            <command
                  commandId="com.st.rental.ui.commands.helloworldcommand"
                  icon="icons/Agency.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.st.rental.ui.commands.helloworldcommand"
               icon="icons/Agency.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.st.rental.ui.viewRentalAgency?after=additions">
         <command
               commandId="com.st.rental.ui.commands.helloworldcommand"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
